.btn-outline-dark {
  padding: 2px 5px;
  font-size: 14px;
  border: solid;
  border-color: #e7e7e7;
  color: black;
  font-weight: bold;
  display: inline-block;
}

.crypto-btn img {
  height: 16px;
  width: 16px;
}

@media (min-width: 576px) {
  .crypto-btn {
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .crypto-btn img {
    height: 30px;
    width: 30px;
  }
}

.crypto-form {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  background-color: #f9f9f9;
}

.btn-group {
  margin-bottom: 10px;
  text-align: center;
}

.btn-group .btn {
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
}

.btn-outline-dark:hover {
  background-color: #000000;
  cursor: pointer;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

input[type="text"], input[type="number"], input[type="email"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus {
  border-color: #007bff;
  outline: none;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

